@{
    ViewData["Title"] = "Inicio";
    ViewData["Modulo"] = "Menu Principal";
}


<div class="card">
    <div class="card-header border-0">
        <h2 class="card-title">Inicio</h2>
    </div>
    <!-- Card header -->

    <!--<div class="card-body">
        <section class="services pt-100 pb-50" id="services">
            <div>
                <div class="row justify-content-center">
                    <div onclick="window.open('https://www.superate.gob.do/','mywindow');" class="col-lg-4 col-md-6 redireccion">-->
                        <!-- Single Service -->
                        <!--<div class="single-service">
                            <i class="fas fa-leaf"></i>
                            <h2>Banco Agrícola</h2>
                            <p class="text-center">Junto al Banco Agrícola apoyamos los emprendimientos de innovación agropecuaria de los micro y pequeños agricultores pertenecientes al proyecto Agricultura Familiar.</p>
                        </div>
                    </div>
                    <div onclick="window.open('https://www.superate.gob.do/','mywindow');" class="col-lg-4 col-md-6 redireccion">-->
                        <!-- Single Service -->
                        <!--<div class="single-service">
                            <i class="fas fa-hard-hat"></i>
                            <h2>PromiPyme</h2>
                            <p class="text-center">Fortalecemos las micro, pequeñas y medianas empresas, así como a aquellas familias que cuentan con condiciones para iniciar un emprendimiento en proyectos de artesanía, agroindustria y/o tecnología e innovación agropecuaria.</p>
                        </div>
                    </div>
                    <div onclick="window.open('https://www.superate.gob.do/','mywindow');" class="col-lg-4 col-md-6 redireccion">-->
                        <!-- Single Service -->
                        <!--<div class="single-service justify-content">
                            <i class="fa fa-graduation-cap"></i>
                            <h2>Inscríbete en una Capacitación</h2>
                            <p class="text-center">Te ofrecemos la oportunidad de capacitarte para que puedas aprender un oficio que te permita generar ingresos y acceder al sistema financiero formal, de forma que puedas mejorar la calidad de vida de los tuyos.</p>
                        </div>
                    </div>
                </div>
                <div class="row justify-content-center">
                    <div onclick="window.open('https://empleateya.mt.gob.do/#/','mywindow');" class="col-lg-4 col-md-6 redireccion">-->
                        <!-- Single Service -->
                        <!--<div class="single-service">
                            <i class="fa fa-briefcase"></i>
                            <h2>¡EmpléateYa!</h2>
                            <p class="text-center">Accede a la bolsa de empleos del Servicio Nacional de Empleo (SENAE), un servicio público, gratuito y nacional, que te permitirá conseguir trabajo en sectores gubernamentales y privados.</p>
                        </div>
                    </div>
                    <div onclick="window.open('https://www.superate.gob.do/','mywindow');" class="col-lg-4 col-md-6 redireccion">-->
                        <!-- Single Service -->
                        <!--<div class="single-service">
                            <img id="logo" style="width:300px; height:100px; margin-top:140px;" class="img-responsive image-center " src="~/img/Logo-Superate-cajita.png" alt="Logo Progresando con Solidaridad">
                        </div>
                    </div>
                    <div onclick="window.open('https://pymes.do/formalizaci%C3%B3n-y-desarrollo-de-proveedores/','mywindow');" class="col-lg-4 col-md-6 redireccion">-->
                        <!-- Single Service -->
                        <!--<div class="single-service">
                            <i class="far fa-building"></i>
                            <h2>MiPymes</h2>
                            <p class="text-center">Si tienes una micro, pequeña o mediana empresa, podrás registrarla a través del servicio de  Formalización y Desarrollo de Proveedores del Ministerio de Industria, Comercio y Mipymes.</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        
    </div>-->

    <div class="card-footer py-4">
        <a href="#" class="btn btn-success">Inicio</a>
    </div>
</div>


