@{
    ViewData["Title"] = "Home Page";
    ViewData["Modulo"] = "Inicio";
}


<div class="card">
    <div class="card-header border-0">

    </div>
    <!-- Card header -->
    <!--<div class="text-center">-->
        <h1 class="display-4">Welcome</h1>
        <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    @*</div>*@
    <!-- Card footer -->
    <div class="card-footer py-4">

    </div>
</div>
