@page
@model LoginModel

@{
    ViewData["Title"] = "Log in";
}


<div class="col-lg-5 col-md-7">
    <div class="card bg-secondary border-0 mb-0">
        <div class="card-body px-lg-5 py-lg-5">
            <div class="text-center text-muted mb-4">
                <h3>Iniciar Session</h3>
            </div>
            <form id="account" method="post">
                <div class="form-group mb-3">
                    <div class="input-group input-group-merge input-group-alternative">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="ni ni-email-83"></i></span>
                        </div>
                        <input asp-for="Input.Email" class="form-control" placeholder="Correo Electronico" />
                        @*<br />
                        <span asp-validation-for="Input.Email" class="text-danger"></span>*@
                    </div>
                </div>
                <div class="form-group">
                    <div class="input-group input-group-merge input-group-alternative">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="ni ni-lock-circle-open"></i></span>
                        </div>
                        <input asp-for="Input.Password" class="form-control" placeholder="Contraseña" />
                        @*<br />
                        <span asp-validation-for="Input.Password" class="text-danger"></span>*@
                    </div>
                </div>
                <div class="custom-control custom-control-alternative custom-checkbox">
                    <input asp-for="Input.RememberMe" class="custom-control-input" id=" customCheckLogin" type="checkbox">
                    <label class="custom-control-label" for=" customCheckLogin">
                        <span class="text-muted">Recuerdame</span>
                    </label>
                </div>
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="text-center">
                    <button type="submit" class="btn btn-success my-4">Entrar</button>
                    @*<button type="button" class="btn btn-primary my-4">Sign in</button>*@
                </div>
            </form>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col-6">
            <p>
                <a class="text-light" id="forgot-password" asp-page="./ForgotPassword">Olvide la contraseña</a>
            </p>
        </div>
        <div class="col-6 text-right">
            <p>
                <a class="text-light" asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Crear un nuevo usuario</a>
            </p>
        </div>
    </div>
    <br />
    <br />
</div>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}

